* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #ffe6e6;
  margin: 0;
  padding: 0;
}

.custom-navbar {
  background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: pink;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler {
  border-color: white;
}

.navbar-toggler:focus {
  background-color: transparent;
  outline: none;
  box-shadow: 0 0 0 2px white;
}

.navbar-toggler,
.navbar-toggler:hover .navbar-toggler:active {
  background-color: transparent;
  border-color: white;
}

.hero-section {
  background-image: url("images/images/Brown\ and\ White\ Modern\ Skincare\ Presentation.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

.hero-content {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  padding-top: 12%;
  line-height: 1.5;
  font-family: "Playfair", serif;
}

.hero-content h1 {
  font-size: 6rem;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-family: "Lora", serif;
}

.hero-content p {
  font-size: 1.3rem;
  word-spacing: 10px;
  margin-top: 1.5rem;
}

.img-fluid {
  max-width: 50%;
}

@media (min-width: 992px) {
  .hero-content h1 {
    font-size: 10rem;
  }

  .hero-content {
    padding-top: 5%;
  }

  .hero-content p {
    font-size: 2rem;
    word-spacing: 10px;
  }
}
